.archive {

  &__title-container {
    display: block;
    margin-bottom: 1rem;

    &__text {
      color: #fff;
      margin: 0;
      padding: 0 3rem 0 1rem;
      background-color: $mainRed;
      text-transform: uppercase;
      display: inline;
    }

    &__lines {
      display: inline;
      position: relative;
      margin-left: .25rem;
      bottom: .75rem;
      &__left {
        width: .5rem;
        height: 2rem;
        transform: skew(-10deg);
        background-color: $mainRed;
        position: absolute;
        top: 0;
        left: 0;
      }

      &__center {
        width: .5rem;
        height: 2rem;
        transform: skew(-10deg);
        background-color: $mainRed;
        position: absolute;
        top: 0;
        left: 1rem;
      }

      &__right {
        width: .5rem;
        height: 2rem;
        transform: skew(-10deg);
        background-color: $mainRed;
        position: absolute;
        top: 0;
        left: 2rem;
      }
    }    
  }

  &__pagination {
    position: relative;
    height: 20px;
    @mixin atLarge {
      margin-top: 1rem;
      
    }

    &__line {
      background-color: $lightGray;
      position: absolute;
      width: 100%;
      height: 1px;
      top: 50%;
      transform: translateY(-50%);  
    }

    &__links {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      background-color: #FFF;
      padding-left: .5rem;

      @mixin atLarge {
        left: 0;
        transform: translateY(-50%);
        padding-left: 0;
      }

      .page-numbers {
        width: 20px;
        display: inline-block;
      }
  
      a {
        color: $darkGray;
      }
  
      a:hover {
        color: $mainRed;
      }
  
      .current {
        background-color: $darkGray;
        color: #FFF;
      }
    }
  }
}