.blog-posts {
  a:hover {
    text-decoration: underline;
  }
  &__most-recent {

    &__image {
      display: block;
      width: 100%;
    }

    &__text {
      &__title {
        margin-top: 0;
        text-transform: uppercase;
        a {
          color: #000;
        }
      }
  
      &__meta-info span a {
        color: $mainRed;
      }
    }
  }

  &__others {

    & > div {
      margin-bottom: 2rem;
    }

    & > div:last-child {
      margin-bottom: 0;
    }

    &__post {
      width: 100%;
      margin-bottom: 2rem;
      background-color: $darkGray;
      color: $lightGray;
      margin-top: 0;

      @mixin atLarge {
        margin-bottom: 0;
      }
        
      &__title {
        margin: 0;
        padding: 1rem 0;
        text-transform: uppercase;
      }

      &__content {
        margin: 0;
        padding-bottom: 1rem;
      }

      &__image {
        display: block;
        width: 100%;
      }

      
    }
    
  }
}