.wpcf7 {
  text-align: center;
  font-weight: 300;

  @mixin atLarge {
    text-align: left;
  }

  input[type="text"],
  input[type="email"],
  textarea
  {
    background-color: $lightGray;
    color: $darkGray;
    width: 70%;
    border-radius: 1rem;
    resize: none;
  }

  label {
    color: #FFF;
  }

  .wpcf7-submit {
    color: #FFF;
    width: 70%;
    border: 0;
  }
}

div.wpcf7 .ajax-loader {
  display: none;
}

div.wpcf7 .ajax-loader.is-active {
  display: inline-block;
}