.wpcf7 {
  text-align: center;
  font-weight: 300;

  @mixin atLarge {
    text-align: left;
  }

  input[type="text"],
  input[type="email"],
  textarea
  {
    background-color: $lightGray;
    color: $darkGray;
    width: 70%;
    border-radius: 1rem;
    resize: none;
  }

  label {
    color: #FFF;
  }

  .wpcf7-submit {
    color: #FFF;
    width: 70%;
    border: 0;
  }
}

div.wpcf7 .ajax-loader {
  display: none;
}

div.wpcf7 .ajax-loader.is-active {
  display: inline-block;
}

.wpcf7-form .wpcf7-response-output.wpcf7-validation-errors {
  color: #D8000C;
  background-color: #FFBABA;
  border: 0;
  padding: 10px;
  width: 70%;
  margin: auto;
  text-align: center;

  @mixin atLarge {
    margin: 0;
  }
}
.wpcf7-form .wpcf7-response-output.wpcf7-mail-sent-ok {
  color: #4F8A10;
  background-color: #DFF2BF;
  border: 0;
  padding: 10px;
  width: 70%;
  margin: 0;
  text-align: center;

  @mixin atLarge {
    margin: 0;
  }
}