* {
  margin: 0;
  padding: 0;
  font-size: 18px;
}
a {
  text-decoration: none;
  color: inherit;
}

#menuAdentro {
  background-image: url('./assets/images/La-calle-habla.jpg');
  background-size: cover;
  background-position: 15%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
}

/* encabezado logo y boton menu */

.encabezadoMenu {
  margin: 0;
  padding: 0;
  height: 10%;
  z-index: 4;
  position: fixed;
}

.mascaraMenu2 {
  height: 75px;
  width: 100%;
  margin: 0px 0 0 0;
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  background: #000;
}
.logoMenu {
  width: 250px;
  padding: 5px;
  z-index: 2;
}

.logoMenu img {
  width: 100%;
  height: 100%;
}

.logoMenu a {
  z-index: 3;
}

.botonMenu {
  width: 70px;
  z-index: 2;
  height: 70px;
  font-size: 40px;
  text-align: center;
  color: #b7b7b7;
  cursor: pointer;
  z-index: 4;
  padding: 5px;
}

/* RESPONSIVE ajuste de tamaño logo y boton de menu sm */
@media (max-width: 575.98px) {
  .logoMenu {
    width: 180px;
  }
  .botonMenu {
    font-size: 30px !important;
    width: 35px;
    height: auto;
  }
}
/* aun mas pqueño */
@media (max-width: 320px) {
  .logoMenu {
    width: 150px;
  }
  .botonMenu {
    font-size: 20px !important;
  }
}
/* ajuste de tamaño logo y boton de menu */

.cont-tituloMenu {
  width: 100%;
  height: inherit;
  color: #fff;
}

.copysPortada {
  position: relative;
}

.titulo {
  font-weight: 700;
  font-size: 75px;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
  height: 70%;
  line-height: 0.7;
}

.subtitulo {
  font-size: 18px;
}

/* ajuste RESPONSIVE para tamaño lg de la alineacion y tamaño del titulo  y sub*/
@media only screen and (min-width: 991px) {
  .copysPortada {
    position: absolute;
    left: 35%;
  }
  .titulo {
    font-size: 8vw;
    font-weight: 700;
  }
  .subtitulo {
    font-size: 1.8vw;
  }
}

@media (max-width: 575.98px) {
  .titulo {
    font-size: 12vw;
    font-weight: 550;
    text-align: center;
  }
  .subtitulo {
    font-size: 3.3vw;
    text-align: center;
  }
}

/************ SECCION DEL MENU ********/

a:hover {
  text-decoration: none;
}

.navegacion {
  margin: 0;
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
  background-image: url('./assets/images/La-calle-habla.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 3;
}

.contenedor-enlace {
  margin: 0 0;
  text-align: right;
  padding: 5px 10px;
  transition-property: all;
  transition-duration: 0.5s;
}

.subContenedorE {
  display: inline-block;
  padding: 0px 10px;
  z-index: 2;
  transition-property: all;
  transition-duration: 0.5s;
}

.subContenedorE:hover {
  transform: translate(-1.1em);
  border-right: solid 3px #2e2633;
  border-radius: 2.5% 2.5%;
}

.subContenedorE:hover .tituloDelMenu {
  color: #ff043a;
  text-shadow: #efffcd 1px 1px 2px;
}

.contenedor-enlace h2 {
  color: #efffcd;
  transition-property: all;
  transition-duration: 0.5s;
}

.tituloDelMenu {
  font-size: 10vh;
  letter-spacing: 2vw;
  font-weight: 950;
  text-shadow: rgba(255, 255, 255, 0.616) 0px 0px 2px;
}

/* subtitulos */
.contenedor-enlace-toggle {
  letter-spacing: 5px;
  margin: 0.5em 5%;
  display: flex;
  flex-direction: column;
  transform: translateX(-0.1em);
  transition-property: all;
  transition-duration: 0.5s;
}

.subDelMenu {
  color: #efffcd;
  padding: 0;
  font-size: 4vh;
  letter-spacing: 1vw;
  font-weight: bolder;
  margin: 0.5vh 0;
  transition-duration: 0.5s;
  display: inline-block;
  padding: 5px;
  transition-property: all;
  transition-duration: 0.5s;
}
.subDelMenu:hover {
  transform: translateX(-0.6em);
}

/* RESPONSIVE ajuste del los titulos y sub del menu */

/* SM */
@media (max-width: 575.98px) {
  .tituloDelMenu {
    font-size: 11.5vw;
  }
  .contenedor-enlace {
    margin: 2vh 0;
  }
  .subDelMenu {
    font-size: 6vw !important;
  }
}

/* aun mas pqueño */
@media (max-width: 320px) {
  .tituloDelMenu {
    font-size: 10vw;
  }
  .contenedor-enlace {
    margin: 2vh 0;
  }
  .subDelMenu {
    font-size: 5vw !important;
  }
}

/* FIN SECCION DEL MENU */

/* DIVISOR */

.divisor {
  background-color: #fff;
  width: 100%;
  height: 30px;
}

.sombra {
  width: 100%;
  height: 30px;
}

.body-no-scroll {
  overflow: hidden;
}