.redSa {
  background: #7d7d7d !important;
  border-radius: 50%;
}
@font-face {
  font-family: fuente1;
  src: url('./assets/fonts/MYRIADPRO-REGULAR.OTF');
}
a:hover {
  color: inherit;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
body {
  background-color: #141414;
}
.bgRayas {
  background-color: rgba(0, 0, 0, 0.25098);
}
.copysPortada h4 {
  font-weight: 600;
  padding: 4px 10px;
  background-color: #ff043a;
  display: inline;
  font-size: 1rem;
  text-align: right;
  color: #000;
  border-radius: 3px;
}
.manifiesto-titulo {
  border-bottom: 2px solid #b22222;
  background-color: #fff;
}
.manifiesto-titulo h2 {
  font-size: 2.5em;
  color: #8a8a8a;
  font-weight: 800;
}
.manifiesto-img {
  background-image: url('./assets/images/aprendemos-caminando.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 85vh;
}
.manifiesto-texto {
  padding: 5vh 0;
  background-repeat: repeat;
  background-color: #282828;
}
.manifiesto-texto .manifiesto-cont-p {
  position: relative;
  z-index: 2;
  text-align: center;
  margin: 5vh auto;
  width: 85%;
  height: 40vh;
  color: #c7c7c7;
  overflow-y: scroll;
  padding: 0 15px;
}
.manifiesto-texto .manifiesto-cont-p p {
  font-size: 1.1em;
  margin: 5vh 10px;
  font-weight: 500;
}
.manifiesto-footer {
  background: #555;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.manifiesto-footer-redes a {
  font-size: 1.7em;
  color: #f1f1f1;
  margin: 0 10px;
}
.manifiesto-footer-redes a:hover {
  color: #b22222;
}
.orgiaCultural .orgiaCultural-img {
  background-image: url('./assets/images/orgia-cultural.jpg');
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 85vh;
}
.orgiaCultural .orgiaCultural-eventos {
  display: grid;
  background-color: #8a8a8a;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 23rem;
  padding: 5px;
}
.orgiaCultural .orgiaCultural-eventos .evento {
  cursor: pointer;
}
.orgiaCultural .orgiaCultural-eventos .eventoimg {
  width: 100%;
  height: 100%;
}
.orgiaCultural .orgiaCultural-eventos .eventoimg img {
  object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
body {
  font-family: fuente1;
}
.evento {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(0);
  overflow: hidden;
  transition: all 0.35s ease-in;
}
.evento:hover .evento-title {
  bottom: 0%;
}
.evento-title {
  position: absolute;
  bottom: -4vh;
  width: 100%;
  height: 10vh;
  background-color: #171717;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  transition: all 0.4s ease-in;
  justify-content: center;
}
.evento-title span {
  grid-column: 1 / 5;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 600;
  transition: all 1s ease-in;
}
.evento-title-verMas {
  grid-row: 3 / 3;
  grid-column: 2 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.evento-title-verMas span {
  font-size: 0.8rem;
  transition: all ease 0.7s;
  color: #000;
}
.evento-title-verMas .evento-arrow {
  font-size: 0.8rem;
  color: #b22222;
  margin-left: 10px;
}
.caminemos {
  width: 100%;
  padding: 0;
}
.caminemos-img {
  background-image: url('./assets/images/caminemos.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 85vh;
}
.caminemos-text {
  padding: 2.5vh;
  background-color: #eee;
}
.caminemos-text div {
  width: 75%;
  display: flex;
  flex-direction: column;
}
.caminemos-text div p, .caminemos-text div span {
  font-style: italic;
  margin: 0;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.38;
  font-weight: 600;
  color: #585858;
}
.caminemos-text div span {
  line-height: 1.5;
  color: #b22222;
}
.caminemos .proyectos-img {
  background-image: url('./assets/images/eventos2.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 42.5vh;
}
.caminemos .proyectos-proyectos {
  background-color: #141414;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.caminemos .proyectos-proyectos .header {
  height: 10vh;
}
.caminemos .proyectos-proyectos span {
  font-size: 1.2rem;
  color: #fff;
}
.cuerpo-proyecto {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  padding: 25px 10px;
}
.proyectos-contenido {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.proyectos-contenido .proyecto-titulo {
  font-weight: 800;
  font-size: 2.5em;
  margin: 10px 5px;
}
.proyectos-contenido .proyecto-descripcion {
  font-size: 1.5;
  margin: 0 20px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.proyectos-contenido .proyecto-descripcion span {
  color: #000;
  font-size: 1.1em;
}
.contenidos {
  padding: 0;
}
.contenidos-img {
  height: 42.5vh;
  background-image: url('./assets/images/contenidos.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: left;
}
.contenidos-text {
  background-color: #eee;
  padding: 1.8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenidos-text p, .contenidos-text span {
  width: 70%;
  font-size: 1.2em;
  color: #141414;
  text-align: center;
}
.contenidos-text span {
  color: #b22222;
}
.contenidos-queHacemos {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: 1fr;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #555;
}
.contenidos-queHacemos-text {
  position: relative;
  grid-column: 2;
  display: flex;
  justify-content: start;
  align-content: center;
  margin: 5vh 0;
  padding-left: 10%;
  overflow: hidden;
  transition: all 0.5s;
}
.contenidos-queHacemos-text:hover {
  transform: translate(-10%, 0px);
}
.contenidos-queHacemos-text span {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: #f1f1f1;
}
.contenidos-queHacemos-title {
  grid-column: 0.2;
  text-align: center;
  height: 10vh;
  font-size: 1.3rem;
  background-color: #141414;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ConNosotros-img {
  width: 100%;
  height: 85vh;
  background-image: url('./assets/images/escuchamos%20tus%20ideas.jpg');
  background-size: cover;
  background-attachment: fixed;
}
.footPage {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  grid-gap: 50px;
  justify-content: center;
  background-color: #282828;
}
.footPage-text {
  grid-row: 2;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}
.footPage-text p {
  display: flex;
  flex-direction: column;
}
.footPage-text p span {
  line-height: 1;
  font-weight: 700;
  font-size: 1.8rem;
  color: aliceblue;
}
.footPage-text-resaltado {
  line-height: 0.7;
  font-size: 1.4rem;
  color: #b22222;
}
.footPage-contact {
  grid-column: 1 / 2;
  grid-row: 3;
  text-align: right;
  color: #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footPage-contact-phone {
  line-height: 1.2;
  display: flex;
  flex-direction: column;
}
.footPage-contact-phone span {
  font-size: 1.8rem;
}
.footPage-contact-mail span {
  font-size: 1.5rem;
}
.footPage-contact-city {
  color: #b22222;
}
.footPage-contact-city h5 {
  font-size: 1rem !important;
}
.footPage-contact .socialF {
  flex-direction: row-reverse;
}
.footPage-contact .socialF .redS {
  background: #b22222;
  border-radius: 50%;
}
.footPage-contact .socialF .redS:hover {
  transform: scale(1.1, 1.1);
}
.footPage-form {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
}
.Formularios {
  width: 90%;
  position: sticky;
  top: 25%;
}
.Formularios s form {
  box-shadow: 2px 5px 10px 4px #141414;
  padding: 40px;
  transition: all 0.35s linear;
}
.Formularios s form:hover {
  box-shadow: 2px 5px 10px 8px #000;
}
/* estilos de el fomulatrio de contacto */
.formDiv {
  background-color: #d6d6d6;
}
.labelForm {
  line-height: 0.7;
  font-size: 1.5em;
  color: #c7c7c7;
  margin-inline-start: 10px;
}
.formulario {
  border-radius: 20px;
  opacity: 0.7;
  box-shadow: #292929 1px 3px 3px;
}
.arroba {
  box-shadow: #292929 1px 3px 0px;
}
.formulario:focus {
  opacity: 1;
  box-shadow: 0 0 0.1rem 0.2rem #ff043a b6;
}
.boton {
  background-color: #000;
  font-size: 1.4em;
  letter-spacing: 2px;
  padding: 5px 15px;
  border-radius: 20px;
  box-shadow: #292929 1px 3px 3px;
  transition: all 0.3s;
}
.boton:hover {
  background-color: #4b0111;
  box-shadow: #292929 2px 5px 5px;
}
.infoCitio, .infoNumero, .infoArroba {
  color: #c7c7c7;
  line-height: 5;
}
.infoCitio h5 {
  font-size: 1em;
  line-height: 0.9;
}
.infoNumero h5 {
  font-size: 1.5em;
  line-height: 0.9;
}
.infoArroba h5 {
  font-size: 1em;
  line-height: 0.9;
}
.pie {
  background: #000;
}
.textF {
  color: #ccc;
}
.textF h4, .textF span {
  font-size: 0.8rem;
}
.evento {
  position: relative;
}
.evento-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 2;
  background: #141414;
  color: #eee;
  display: none;
  justify-content: center;
  align-items: center;
}
.evento-content-text {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-around;
}
.evento-content-text-title {
  font-size: 1.5rem;
  text-align: center;
  margin: 5% 0;
  letter-spacing: 2px;
}
.evento-content-text-p {
  width: 70%;
  line-height: 1;
  padding: 2.5% 0;
  border-top: solid #000 1px;
  border-bottom: solid #000 1px;
}
.evento-content-text-info {
  display: flex;
  flex-direction: column;
  line-height: 1;
}
.evento-content-text-info span {
  font-size: 0.8rem;
  font-size: 0.8rem;
}
.menu {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-gap: 2.5vh;
  width: 40%;
}
.menu .menu-naveg {
  display: flex;
  justify-content: center;
  border: solid 1px #ff043a;
  color: #b22222;
  align-self: center;
  transition: all 0.25s linear;
  padding: 5px;
}
.menu .menu-naveg:hover {
  color: #fff !important;
  background-color: #ff043a;
}
.menu .menu-naveg-link a h2 {
  margin: 0px !important;
}
.boton:hover {
  border: 2px solid #ff043a;
  background-color: #000;
}
.boton {
  border: 2px solid transparent;
}
.lineaT {
  position: absolute;
  right: -9%;
  height: 8rem;
  top: 7%;
}
.lineaT img {
  height: 100%;
}
@media only screen and (max-width: 991px) {
  .event {
    grid-gap: 1rem;
  }
  .event-body-galery-fotos {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .orgiaCultural-eventos {
    grid-template-columns: 1fr 1fr !important;
  }
  .evento-title {
    font-size: 1.2rem;
  }
  .proyectos-contenido .proyecto-titulo {
    font-size: 1.3rem;
    align-items: center;
    display: flex;
    text-align: right;
  }
  .proyectos-contenido .proyecto-descripcion {
    width: 40%;
  }
  .proyectos-contenido .proyecto-descripcion span {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 768px) {
  .event {
    grid-template-columns: auto !important;
    grid-gap: 1rem;
  }
  .event-body {
    padding: 20px 1.2rem !important;
  }
  .event-body-galery-fotos {
    display: grid;
    grid-template-columns: 1fr 1fr !important;
  }
  .event-lateral {
    display: none !important;
  }
  .caminemos-img {
    background-position: 29%, 0;
  }
  .ConNosotros-img {
    background-position: center;
  }
  .orgiaCultural-img {
    background-position: center;
  }
  .menu {
    width: 75%;
  }
  .manifiesto-cont-p {
    width: 95% !important;
    height: 50vh !important;
  }
  .orgiaCultural-eventos {
    grid-template-columns: 1fr !important;
  }
  .evento-title {
    font-size: 1.2rem;
  }
  .caminemos-text div {
    width: 90%;
  }
  .caminemos-text div p, .caminemos-text div span {
    font-size: 1rem;
  }
  .proyectos-contenido .proyecto-titulo {
    font-size: 1.2rem;
    align-items: center;
    display: flex;
  }
  .proyectos-contenido .proyecto-descripcion {
    width: 50%;
  }
  .proyectos-contenido .proyecto-descripcion span {
    font-size: 1rem;
  }
  .contenidos-text p, .contenidos-text span {
    width: 85%;
    font-size: 1em;
  }
  .contenidos-queHacemos {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr !important;
  }
  .contenidos-queHacemos-text span {
    font-size: 1.2rem;
  }
  .footPage {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-gap: 10px;
    padding: 25px;
  }
  .footPage-text {
    grid-row: 2;
    grid-column: 1;
    text-align: left;
  }
  .footPage-contact {
    grid-column: 1 / 2;
    grid-row: 3;
  }
  .footPage-text p span {
    font-size: 1.3rem;
  }
  .footPage-text-resaltado {
    font-size: 1.1rem;
  }
  .footPage-contact-phone span {
    font-size: 1.3rem;
  }
  .footPage-contact-mail span {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 590px) {
  .menu .menu-naveg-link a h2 {
    margin: 0px !important;
    font-size: 1.5rem !important;
  }
  .lineaT {
    display: none !important;
  }
  .copysPortada h4 {
    font-size: 0.7rem !important;
  }
  .event-body-article h1 {
    font-size: 2rem !important;
  }
  .event-body-article h4 {
    font-size: 1.2rem !important;
  }
  .event {
    grid-template-columns: auto !important;
    grid-gap: 0 !important;
  }
  .event-body {
    padding: 6rem 1.2rem !important;
  }
  .event-body-galery-fotos {
    display: grid;
    grid-template-columns: 1fr !important;
  }
  .event-lateral {
    display: none !important;
  }
  .event-head .event-head-migas {
    position: absolute;
    bottom: -171% !important;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .event-head .event-head-migas .breadcrumb {
    margin-bottom: 0;
    display: flex;
  }
  .event-head .event-head-migas .dropdown {
    display: flex;
    justify-content: center;
  }
  .orgiaCultural .orgiaCultural-img {
    background-position: left !important;
  }
  .menu {
    width: 85%;
  }
  .orgiaCultural-eventos {
    grid-template-columns: 1fr !important;
  }
  .evento-title {
    font-size: 1rem;
  }
  .caminemos-text div {
    width: 95%;
  }
  .caminemos-text div p, .caminemos-text div span {
    font-size: 0.9rem;
  }
  .proyectos-contenido {
    width: 100%;
  }
  .proyectos-contenido .proyecto-titulo {
    text-align: right;
    font-size: 1.2rem;
    align-items: center;
    display: flex;
  }
  .proyectos-contenido .proyecto-descripcion {
    width: 40%;
  }
  .proyectos-contenido .proyecto-descripcion span {
    font-size: 0.8rem;
  }
  .contenidos-text p, .contenidos-text span {
    width: 90%;
    font-size: 1em;
  }
  .contenidos-queHacemos {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr !important;
  }
  .contenidos-queHacemos-text span {
    font-size: 1.2rem;
  }
}
.event {
  background-color: #fff;
  display: grid;
  grid-template-columns: 9fr 3fr;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 9fr 3fr;
  grid-template-rows: 10vh auto;
  grid-gap: 2rem;
}
.event-head {
  grid-column: 1 / 3;
  grid-row: 1;
  display: flex;
  align-items: center;
  background-color: #000;
  position: relative;
}
.event-head .event-head-migas {
  position: absolute;
  bottom: -106%;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.event-head .event-head-migas ol {
  background-color: #c7c7c714 !important;
}
.event-head .event-head-migas .dropdown {
  margin: 5px 15px;
  font-style: italic;
  font-weight: 600;
}
.event-head .event-head-migas .dropdown .btn {
  background: #141414;
  font-style: italic;
  font-weight: 500;
}
.event-head .event-head-migas .dropdown-menu {
  left: -25% !important;
  background-color: #141414;
}
.event-head .event-head-migas .dropdown-menu a {
  color: white;
  font-style: italic;
  font-weight: 500;
}
.event-head .event-head-migas .dropdown-menu a:hover {
  color: #000;
}
.event-head .event-head-migas .dropdown .btn:hover {
  background: #000;
}
.event-body {
  grid-column: 1 / 2;
  grid-row: 2;
  padding: 0 4rem;
}
.event-body-article {
  margin: 2rem 0;
}
.event-body-article h1 {
  font-size: 3rem;
  font-style: italic;
  font-weight: 700;
}
.event-body-article h4 {
  font-size: 1.4rem;
  color: #b22222;
  line-height: 0.5;
  margin-left: 15px;
}
.event-body-article-text {
  margin: 3rem 0 1rem 0;
  font-size: 0.92rem;
  font-style: italic;
}
.event-body-article-redes {
  display: flex;
  color: red;
}
.event-body-article-redes .redS img {
  width: 2rem;
  height: auto;
  margin: 0 5px;
  border-radius: 50%;
  transition: all 0.25s;
}
.event-body-article-redes .redS img:hover {
  background-color: #b22222;
}
.event-body-galery {
  margin: 2rem 0;
  box-shadow: 5px 4px 9px rgba(0, 0, 0, 0.25);
  width: 80%;
  margin: 0 auto;
}
.event-body-galery-header {
  padding: 5px 3rem;
  position: relative;
  background-color: #000;
}
.event-body-galery-header span {
  font-size: 1.2rem;
  color: white;
  font-style: italic;
  font-weight: 700;
}
.event-body-galery-fotos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 5px;
}
.event-body-galery-fotos-img {
  height: 11rem;
  cursor: pointer;
}
.event-body-galery-fotos-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.event .event-body {
  margin-bottom: 2rem;
}
.event .aside {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.porIcon {
  font-size: 1.8rem !important;
  line-height: 1.1 !important;
  font-weight: 900 !important;
  color: red !important;
  position: absolute;
  left: 5px;
}
.colapsable {
  display: none;
}
.event-lateral-masEventos, event-lateral-prensa {
  margin: 2rem 0;
}
.event-lateral {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.lateralHeader {
  background-color: #000;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
  font-style: italic;
  padding-left: 3.5rem;
  position: relative;
  display: flex;
}
.lateralBody {
  display: flex;
  flex-direction: column;
}
.lateralbody-evento {
  position: relative;
  padding: 9px;
  border-bottom: gray 1px solid;
  padding-left: 20px;
  transition: all 0.25s linear;
}
.lateralbody-evento:hover {
  border-bottom: #ff043a 1px solid;
}
.lateralbody-evento:hover a {
  transform: translateX(20px);
}
.lateralbody-evento a {
  width: 100%;
  display: block;
  transition: 0.25s all linear;
}
.lateralbody-evento span {
  font-size: 1.1rem;
  font-weight: 600;
  font-style: italic;
}
.show-boton {
  margin: 0.5rem auto;
  width: 40%;
  text-align: center;
  color: #b22222;
  cursor: pointer;
  display: block;
  font-weight: 600;
  border-bottom: solid 1px transparent;
  transition: all 0.5s linear;
}
.show-boton:hover {
  border-bottom: solid 1px #ff043a;
}
.notasPrensa {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  min-height: 17rem;
  justify-content: space-around;
}
.notasPrensa .notasPrensa-nota1 {
  background: #d40033;
}
.notasPrensa .notasPrensa-nota2 {
  background-color: #7a7a7a;
}
.notasPrensa .notasPrensa-nota1, .notasPrensa .notasPrensa-nota2 {
  height: 6rem;
  position: relative;
  display: flex;
}
.notasPrensa .notasPrensa-nota1 .notaTitle, .notasPrensa .notasPrensa-nota2 .notaTitle {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 800;
  font-style: italic;
  display: flex;
  justify-content: center;
  width: 100%;
}
.notasPrensa .notasPrensa-nota1 .nota-content, .notasPrensa .notasPrensa-nota2 .nota-content {
  width: 100%;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 5px;
  position: absolute;
  top: 40%;
  font-weight: 600;
  font-style: italic;
}
.orgiaCultural-eventosMovil {
  background-color: #000;
  display: none;
}
.eventoMovil {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  margin: 5vh 0;
}
.eventoMovil a {
  padding: 0 5%;
  border-bottom: 1px gray solid;
  transition: all 0.35s linear;
}
.eventoMovil a:hover {
  border-bottom: 1px #ff043a solid;
}
.eventoMovil a span {
  font-size: 1.5rem;
  font-style: italic;
  color: #eee;
}
.eventoMovil span {
  color: #b22222;
  font-size: 1rem;
  font-style: italic;
}
@media only screen and (max-width: 590px) {
  .manifiesto-texto {
    display: none !important;
  }
  .orgiaCultural-eventosMovil {
    display: block !important;
  }
  .orgiaCultural-eventos {
    display: none !important;
  }
  .cuerpo-proyecto {
    height: auto !important;
  }
  .proyectos-contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto !important;
    flex-wrap: nowrap;
  }
  .proyectos-contenido .proyecto-separador {
    display: none;
  }
  .proyectos-contenido .proyecto-titulo {
    display: flex;
    font-size: 2rem;
  }
  .proyectos-contenido .proyecto-descripcion {
    margin: 0 15%;
    width: auto;
    text-align: center;
    border-bottom: 2px solid red;
    padding-bottom: 20px;
  }
  .contenidos-queHacemos {
    grid-template-columns: 0.5fr 4fr 0.5fr !important;
  }
  .contenidos-queHacemos .sombra {
    display: block;
    width: 100%;
    height: 30px;
    grid-column: 0.25;
  }
  .contenidos-queHacemos-text {
    position: relative;
    padding-bottom: 15px;
    padding-left: 0;
    justify-content: center;
  }
  .contenidos-queHacemos-text img {
    display: none !important;
  }
  .contenidos-queHacemos-text span {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
  }
  .contenidos-queHacemos-text div {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 25%;
    height: 2px;
    background: red;
  }
  .footPage {
    padding: 0;
  }
  .footPage-text {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
  .footPage-text span {
    font-size: 2.3rem;
    text-align: center;
    font-style: italic;
  }
  .footPage-contact {
    text-align: center;
  }
  .footPage .socialF {
    justify-content: center;
  }
  .footPage-form .Formularios {
    width: 100%;
  }
  .footPage-form .Formularios .botonSend {
    background: #a00000;
    /* Old browsers */
    background: -moz-linear-gradient(left, rgba(160, 0, 0, 1) 0%, rgba(204, 0, 0, 1) 65%, rgba(183, 0, 116, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(160, 0, 0, 1) 0%, rgba(204, 0, 0, 1) 65%, rgba(183, 0, 116, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(160, 0, 0, 1) 0%, rgba(204, 0, 0, 1) 65%, rgba(183, 0, 116, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    width: 100%;
    border-radius: 5px;
    font-style: italic;
    transition: 0.5s all linear;
  }
  .titulo {
    font-size: 12vw;
    font-weight: 600 !important;
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .orgiaCultural-eventosMovil {
    display: block !important;
  }
  .orgiaCultural-eventos {
    display: none !important;
  }
  .manifiesto-img, .orgiaCultural-img, .caminemos-img, .proyectos-img, .contenidos-img, .ConNosotros-img {
    background-attachment: scroll !important;
    height: 42.5vh !important;
  }
}
.contenidos-queHacemos .sombra {
  display: none;
}
.botonAlert {
  position: absolute;
  bottom: -5rem;
  display: none;
  right: 35%;
}
.botonAlert button {
  display: flex;
  align-items: center;
}
@keyframes goImg {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
.openImg {
  background-color: rgba(20, 20, 20, 0.8);
  width: 70vw;
  height: 80vh;
  left: 15%;
  top: 10%;
  position: fixed;
  z-index: 5;
  box-shadow: rgba(0, 0, 0, 0.22) 16px 9px 40px 50px;
  border-radius: 15px;
  animation-name: goImg;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.openImg img {
  vertical-align: middle;
  object-fit: contain;
  border-style: none;
  width: 100%;
  height: 100%;
  cursor: default;
  object-fit: contain !important;
}
.closeBoton {
  background-color: #fff;
  right: 15%;
  position: fixed;
  padding: 0 10px;
  font-weight: 800;
  font-size: 1rem;
  top: 10%;
  z-index: 7;
  cursor: pointer;
  display: none;
  border-radius: 5px;
  color: #ff043a;
  border: 3px solid transparent;
  transition: all 0.25s linear;
}
.closeBoton:hover {
  background-color: #ff043a;
  border: 1px solid #fff;
  color: #fff;
}
.Formularios {
  box-shadow: 6px 6px 20px 0px #141414;
  padding: 10px 0;
}
