.featured-posts {
  height: 100%;
  @mixin atLarge {
    padding-left: 1rem;
    border-left: #000 solid .5px;
  }
  &__post {
    &__image {
      display: block;
      width: 100%;
    }
    &__label {
      padding: .5rem 0;
      margin: 0;
      background-color: $mainRed;
      text-transform: uppercase;
      text-align: center;
      font-weight: 600;
      color: #FFF;
      font-size: .75rem;
    }
    &__text {
      &__title {
        text-transform: uppercase;
        margin: 1rem 0 0;
        color: $darkGray;

        a {
          color: $darkGray;
        }
      }
  
      &__content {
        margin: .5rem 0;
        a {
          color: $mainRed;
        }
      }

      

      a:hover {
        text-decoration: underline;
      }
    }
  }
}