.footer {
  text-align: center;
  background-color: $darkGray;
  padding: .5rem 0;

  &__text {
	display: block;
	font-weight: 300;
	margin-bottom: .5rem;
	color: #FFF;
	@mixin atMedium {
	  margin-right: 1rem;
	  display: inline;
	}
  }


}
