.header {
  background-color: rgba($darkGray, .9);
  position: fixed;
  width: 100%;
  z-index: 1;

  &--white {
    background-color: #FFF;
  }

  &--shadow {
    box-shadow: 0 .125rem 0.625rem rgba(0, 0, 0, .5);
  }

  &__logo {
    margin: 0 auto;
    display: block;
    text-align: center;

    @mixin atLarge {
      display: inline-block;
    }
  }

  &__menu-icon {
    cursor: pointer;
    width: 20px;
    height: 19px;
    position: absolute;
    top: 1.1rem;
    right: 10px;
    z-index: 10;

    &__top {
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #FFF;
      transform-origin: 0 0;
      transition: transform .3s ease-out;
    }

    &__middle {
      position: absolute;
      top: 8px;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #FFF;
      transition: all .3s ease-out;
      transform-origin: 0 50%;
    }

    &__bottom {
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #FFF;
      transform-origin: 0 100%;
      transition: transform .3s ease-out;
    }

    @mixin atLarge {
      display: none;
    }
  }

  &__menu-icon--close-x {
    .header__menu-icon__top {
      transform: rotate(45deg) scaleX(1.25);
    }

    .header__menu-icon__middle {
      opacity: 0;
      transform: scaleX(0);
    }

    .header__menu-icon__bottom {
      transform: rotate(-45deg) scaleX(1.25) translateY(1px);
    }

  }

  &__menu-icon--black {
    .header__menu-icon__top, .header__menu-icon__middle, .header__menu-icon__bottom {
      background-color: #000;
    }
  }

  &__menu-content {
    text-align: center;
    display: none;

    &--is-visible {
      display: block;
    }

    @mixin atLarge {
      float: right;
      display: block;
    }

    &__navigation {
      &--black {
        a {
          color: #000;
        }
      }

      @mixin atLarge {
        padding-top: 1.25rem;
        display: inline-block;
      }

      ul {
        margin: 0;
        padding: 0;
      }
  
      li {
        list-style-type: none;
        display: block;
        margin: .5rem 0;
        font-weight: 300;
  
        @mixin atLarge {
          display: inline;
          margin: 0 .5rem;
        }
  
        a.active {
          color: $mainRed;
        }

        a:hover {
          color: $mainRed;
        }
      }
    }
  
    &__btn-container {
      margin-bottom: .25rem;
      @mixin atLarge {
        display: inline-block;
        margin-bottom: 0;
      }
    }
  }
}