.header {
  background-color: rgba($darkGray, .9);
  position: fixed;
  z-index: 1;
  width: 100%;

  &__logo {
    margin: 0 auto;
    display: block;
    text-align: center;

    @mixin atLarge {
      display: inline-block;
    }
  }

  &__menu-icon {
    width: 20px;
    height: 19px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #FFF;
      transform-origin: 0 0;
      transition: transform .3s ease-out;
    }

    &__middle {
      position: absolute;
      top: 8px;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #FFF;
      transition: all .3s ease-out;
      transform-origin: 0 50%;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #FFF;
      transform-origin: 0 100%;
      transition: transform .3s ease-out;
    }

    @mixin atLarge {
      display: none;
    }
  }

  &__menu-icon--close-x {
    &::before {
      transform: rotate(45deg) scaleX(1.25);
    }

    .header__menu-icon__middle {
      opacity: 0;
      transform: scaleX(0);
    }

    &::after {
      transform: rotate(-45deg) scaleX(1.25) translateY(1px);
    }

  }

  &__menu-content {
    position: relative;
    text-align: center;
    opacity: 0;
    transform: scale(1.2);
    transition: all .3s ease-out;
    z-index: -10;

    &--is-visible {
      opacity: 1;
      z-index: 1;
      transform: scale(1);
    }

    @mixin atLarge {
      float: right;
      padding-top: .68rem;
      opacity: 1;
      z-index: 1;
      transform: scale(1);
    }

    &__navigation {
      @mixin atLarge {
        display: inline-block;
      }

      ul {
        margin: 0;
        padding: 0;
      }
  
      li {
        list-style-type: none;
        display: block;
        margin: .5rem 0;
        font-weight: 300;
  
        @mixin atLarge {
          display: inline;
          margin: 0 .5rem;
        }
  
        a.active {
          color: $mainRed;
        }

        a:hover {
          color: $mainRed;
        }
      }
    }
  
    &__btn-container {
      margin-bottom: .25rem;
      @mixin atLarge {
        display: inline-block;
        margin-bottom: 0;
      }
    }
  }
}