.modal {
    position: fixed;
    z-index: 5;
    background-color: rgba($darkGray, .94);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.2);
    transition: all .3s ease-out;
  
    &--is-visible {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
    }
  
    &__text {
      text-align: center;
      font-size: 1.5rem;
      font-weight: 300;

      @mixin atLarge {
        text-align: right;
      }

      &--large {
        font-size: 3rem;
      }

      &--light-gray {
        color: $lightGray;
      }

      &--italic {
        font-style: italic;
      }

      &--narrow {
        line-height: .9;
      }

      &--bold {
        font-weight: 500;
      }

      &--small {
        font-size: 1rem;
      }

      &--white {
        color: #FFF;
      }

      &--red {
        color: $mainRed;
      }
    }
  
    &__close {
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 2rem;
      transform: scaleX(1.2);
      transform-origin: 100% 0;
      color: $mainRed;
      cursor: pointer;
  
      &:hover {
        color: $darkGray;
      }
    }
  
    &__inner {
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
    }
  }