.orgia-cultural-item {
  text-align: center;
  position: relative;

  &__image {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }

  &__content {
    position: absolute;
    bottom: .25rem;
    width: 280px;
    left: 50%;
    transform: translateX(-50%);

    &__title {
      font-size: 1rem;
      font-weight: 300;
      color: #FFF;
      background: rgba(0, 0, 0, .5);
      margin: 0;
      padding: 1rem 0;
    }
  }
}