.orgia-cultural-item {
  text-align: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;

  &__image {
    width: 100%;
    height: auto;
    display: block;
  }

  &__info-icon {
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    top: 0;
    right: 0;
  }

  &__content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    color: #FFF;
    background: rgba(0, 0, 0, .8);
    &__title {
      font-size: 1rem;
      width: 100%;
      margin: 0;
      padding: 1rem 0;
    }

    &__description {
      font-weight: 300;
      margin-top: 0;
    }

    &__btn-container {
      margin-bottom: .25rem;
    }
  }
}