.orgia-cultural-item {
  text-align: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &__content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    color: #FFF;
    background: rgba(0, 0, 0, .8);

    &__title {
      font-size: 1rem;
      width: 100%;
      margin: 0;
      padding: 1rem 0;
    }

    &__icon {
      color: #FFF;
      display: inline-block;
      cursor: pointer;
    }

    &__container {
      display: none;
      margin: 0 0 .25rem 0;
      &__description {
      font-weight: 300;
      margin-top: 0;
      transition: all .3s ease-out;
      }
    }
  }
}