.page-banner {
  padding-top: 4rem;
  text-align: center;
  text-transform: uppercase;
  color: $darkGray;
  position: relative;
  margin-bottom: 1rem;
  &__title {
    margin: 0;
  }

  &__subtitle {
    font-weight: 300;
    margin: 0;
    padding-bottom: 1rem;
    &__line {
      border-bottom: .25rem solid $mainRed;
    }
  }

  
}