.post-content {
  position: relative;

  &__thumbnail {
    display: block;
    width: 100%;
    padding-top: 2rem;
  }

  &__text {
    text-align: justify;
    a {
      color: $mainRed;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}