.row {
  @mixin clearfix;

  &--gutters {
    margin-right: -4rem;
  }

  &--gutters > div {
    padding-right: 4rem;
  }



  @mixin atMedium {
    &__medium-6 {
      float: left;
      width: 50%;
    }
  }

  @mixin atLarge {
    &__large-4 {
      float: left;
      width: 33.33%
    }
  }

  &--equal-height-at-large {

    @mixin atLarge {
      display: flex;
    }

    & > div {
      float: none;
      display: flex;
    }
  }
}