.separator {
  margin-left: 0;
  border-top: 1px solid #000;
  margin-bottom: 2rem;

  &--one-third-up-to-large {
	@mixin atLarge {
	  width: 66.66%;
	}
  }

  &--visible-until-large {
	@mixin atLarge {
	  display: none;
	}
  }
}
