.site-header {
  background-color: rgba($darkGray, .8);
  position: fixed;
  width: 100%;
  text-align: center;

  @mixin atMedium {
    text-align: left;
  }

  &__logo {
    display: inline;
  }

  &__menu-content {
    float: right;
    transform: translateY(50%);

    nav {
      display: inline-block;
      ul {
        padding: 0;
        margin: 0;
        li {
          display: inline;
          list-style: none;
          padding-right: 1.2rem;
          a {
            color: #FFF;
            text-decoration: none;
            &:hover {
              color: $mainRed;
            }
          }
        }
      }
    }
    &__btn-container {
      display: inline-block;
    }
  }

  &__menu-icon {
    float: right;

    @mixin atMedium {
      display: none;
    }
  }
}