.social-icons {

  &--background-dark-gray {
    background-color: $darkGray;
  }

  &--background-red {
    background-color: $mainRed;
  }

  &--red {
    a {
      color: $mainRed;
    }
  }

  &--light-gray {
    a {
      color: $lightGray;
    }

    .social-icons__text {
      color: $lightGray;
    }
  }

  &--blog-home {
    text-align: center;
    margin-top: 1rem;
    @mixin atLarge {
      position: fixed;
      left: 0;
      top: 16rem;
      margin-top: 0;
    }
    
    i {
      margin: .75rem;
      @mixin atLarge {
        display: block;
      }
    }

    a:hover {
      color: $mainRed;
    }
  }

  &--blog-post {
    position: absolute;
    width: 100%;
    text-align: center;
    @mixin atLarge {
      right: 0;
      display: inline;
      width: auto;
      padding-left: 1rem;
    }
    
    i {
      margin: .5rem;
    }

    a:hover {
      color: $darkGray;
    }
  }

  &__text {
    padding: .5rem 0 0;
    margin: 0;
    font-weight: 300;
    @mixin atLarge {
      display: none;
    }

    &--display-always {
      display: inline;
    }

    &--margin-right {
      margin-right: 1rem;
    }

    &--white {
      color: #FFF;
    }
  }
}