.transeunte {
  background-color: rgba(255, 255, 255, .8);
  margin: 6rem 0 0 0;
  text-align: center;
  padding: 0 1.25rem;

  &__photo {
    border: 6px solid rgba(255, 255, 255, .8);
    position: relative;
    width: 160px;
    height: 160px;
    margin: 0 auto -5rem;
    top: -80px;
    overflow: hidden;
    border-radius: 100%;
  }

  &__title {
    color: $mainRed;
    margin: 0;
    font-size: 2.5rem;
    font-weight: 500;
  }
}