.wrapper {
  padding: 0 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  &--no-padding-until-large {
	padding: 0 0;

	@mixin atLarge {
	  padding: 0 20px;
	}
  }

  @mixin atLarge {
	.wrapper {
	  padding: 0;
	}

	.wrapper--keep-padding {
	  padding: 0 20px;
	}
  }
}
